secrets.json
saved/
.env/
__pycache__/
internals.pkl
.vscode/settings.json
.DS_Store

found_conditions_large/
found_conditions_small/
graphs/
internals/
small_internals/
large_internals/
sentencedata*.pkl
corpus*.pkl